In [2]:
# Importa librerias necesarias
import pandas as pd
import numpy as np

In [3]:
# Carga los datos de entrenamiento de ambas competiciones kaggle
train_cs570 = pd.read_csv("train_cs570.csv")
train_allstate = pd.read_csv("train_allstate.csv")

# CS570

In [4]:
# Inspecciono los 5 primeros elementos
train_cs570.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x41,x42,x43,x44,x45,x46,x47,x48,x49,y
0,-0.166563,-3.961588,4.621113,2.481908,-1.800135,0.804684,6.718751,-14.789997,-1.040673,-4.204950,...,-1.497117,5.414063,-2.325655,1.674827,-0.264332,60.781427,-7.689696,0.151589,-8.040166,0
1,-0.149894,-0.585676,27.839856,4.152333,6.426802,-2.426943,40.477058,-6.725709,0.896421,0.330165,...,36.292790,4.490915,0.762561,6.526662,1.007927,15.805696,-4.896678,-0.320283,16.719974,0
2,-0.321707,-1.429819,12.251561,6.586874,-5.304647,-11.311090,17.812850,11.060572,5.325880,-2.632984,...,-0.368491,9.088864,-0.689886,-2.731118,0.754200,30.856417,-7.428573,-2.090804,-7.869421,0
3,-0.245594,5.076677,-24.149632,3.637307,6.505811,2.290224,-35.111751,-18.913592,-0.337041,-5.568076,...,15.691546,-7.467775,2.940789,-6.424112,0.419776,-72.424569,5.361375,1.806070,-7.670847,0
4,-0.273366,0.306326,-11.352593,1.676758,2.928441,-0.616824,-16.505817,27.532281,1.199715,-4.309105,...,-13.911297,-5.229937,1.783928,3.957801,-0.096988,-14.085435,-0.208351,-0.894942,15.724742,1

In [5]:
train_cs570.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160000 entries, 0 to 159999
Data columns (total 51 columns):
x0     159974 non-null float64
x1     159975 non-null float64
x2     159962 non-null float64
x3     159963 non-null float64
x4     159974 non-null float64
x5     159963 non-null float64
x6     159974 non-null float64
x7     159973 non-null float64
x8     159979 non-null float64
x9     159970 non-null float64
x10    159957 non-null float64
x11    159970 non-null float64
x12    159964 non-null float64
x13    159969 non-null float64
x14    159966 non-null float64
x15    159965 non-null float64
x16    159974 non-null float64
x17    159973 non-null float64
x18    159960 non-null float64
x19    159965 non-null float64
x20    159962 non-null float64
x21    159971 non-null float64
x22    159973 non-null float64
x23    159953 non-null float64
x24    159972 non-null object
x25    159978 non-null float64
x26    159964 non-null float64
x27    159970 non-null float64
x28    159965 non-null float64
x29    159970 non-null object
x30    159970 non-null object
x31    159961 non-null float64
x32    159969 non-null object
x33    159959 non-null float64
x34    159959 non-null float64
x35    159970 non-null float64
x36    159973 non-null float64
x37    159977 non-null object
x38    159969 non-null float64
x39    159977 non-null float64
x40    159964 non-null float64
x41    159960 non-null float64
x42    159974 non-null float64
x43    159963 non-null float64
x44    159960 non-null float64
x45    159971 non-null float64
x46    159969 non-null float64
x47    159963 non-null float64
x48    159968 non-null float64
x49    159968 non-null float64
y      160000 non-null int64
dtypes: float64(45), int64(1), object(5)
memory usage: 62.3+ MB

Inspecciona las variables tipo object

In [18]:
train_cs570["x24"].head()

0    euorpe
1      asia
2      asia
3      asia
4      asia
Name: x24, dtype: object

In [15]:
train_cs570["x29"].head()

0    July
1     Aug
2    July
3    July
4    July
Name: x29, dtype: object

In [17]:
train_cs570["x30"].head()

0      tuesday
1    wednesday
2    wednesday
3    wednesday
4      tuesday
Name: x30, dtype: object

In [13]:
train_cs570["x32"].head()

0      0.0%
1    -0.02%
2    -0.01%
3     0.01%
4     0.01%
Name: x32, dtype: object

In [14]:
train_cs570["x37"].head()

0     $1313.96
1     $1962.78
2      $430.47
3    $-2366.29
4     $-620.66
Name: x37, dtype: object

In [41]:
# Comprueba la existencia de NAN
True in np.isnan(train_cs570.as_matrix(columns=[train_cs570.columns[0]]))

True

In [40]:
# Comprueba la existencia de infinitos
True in np.isinf(train_cs570.as_matrix(columns=[train_cs570.columns[0]]))

False

# Allstate

In [5]:
train_allstate.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [6]:
train_allstate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188318 entries, 0 to 188317
Columns: 132 entries, id to loss
dtypes: float64(15), int64(1), object(116)
memory usage: 189.7+ MB

In [39]:
# Comprueba la existencia de NAN
True in np.isnan(train_allstate.as_matrix(columns=[train_allstate.columns[0]]))

False

In [38]:
# Comprueba la existencia de infinitos
True in np.isinf(train_allstate.as_matrix(columns=[train_allstate.columns[0]]))

False